# http://www.gnu.org/software/automake

Makefile.in
config.h.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/config.*
/depcomp
/install-sh
/missing
/ltmain.sh
/m4/libtool.m4
/m4/lt*

# Eclipse dev files
/.project
/.cproject

# build artifacts
.deps
.libs
Makefile
config.h
*.o
*.lo
*.la
stamp-h1
tst/test*
libtool

