# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/config.*
/depcomp
/install-sh
/missing
/ltmain.sh
/m4/libtool.m4
/m4/lt*

# Eclipse dev files
/.project
/.cproject

